@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  font-family: 'Manrope';
}
.btn-shadow:hover{
  box-shadow: 0 0 24px rgba(99,224,120,0.6);
}
section{
  padding-bottom: 68px !important;
}